<!-- Template driven form -->
<form id="login-form" *ngIf="!isLogin">
    <fieldset class="col-md-4">
        <h2>Login</h2>
        <label for="email">Email/ Phone</label>
        <input [(ngModel)]="emailOrPhone" class="form-control" type="text" name="emailOrPhone" id="email"/>

        <br/>
        <label for="password">Password</label>
        <input [(ngModel)]="password" class="form-control" type="password" name="password" id="password" />

        <br/>
        <button (click)="submitLogin()" class="btn btn-success">Login</button>
    </fieldset>
</form>

<form id="onetime-checkout" class="col-md-4" [formGroup]="nonLoginUserForm">
    (OR)
    <hr/>

    <h2>Without login/ proceed with details</h2>
    <br/>

    <label>First Name</label>
    <input class="form-control" formControlName="firstName" id="firstname" name="firstname" />
    <div *ngIf="nonLoginUserForm.controls['firstName'].invalid && (nonLoginUserForm.controls['firstName'].dirty || nonLoginUserForm.controls['firstName'].touched)" class="alert alert-danger">
        <div *ngIf="nonLoginUserForm.controls['firstName'].errors.required">
            firstName is required.
        </div>
    </div>
    <br/>

    <label>Last Name</label>
    <input class="form-control" formControlName="lastName" id="lastname" name="lastname" />
    <br/>

    <label>Email</label>
    <input class="form-control" formControlName="email" id="email" name="email" />
    <div *ngIf="nonLoginUserForm.controls['email'].invalid && (nonLoginUserForm.controls['email'].dirty || nonLoginUserForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="nonLoginUserForm.controls['email'].errors.required">
            Email is required.
        </div>
        <!-- {{nonLoginUserForm.controls['email'].errors | json}} -->
        <div *ngIf="nonLoginUserForm.controls['email'].errors.pattern">
            Incorrect email.
        </div>
    </div>
    <br/>

    <label>Phone</label>
    <input class="form-control" formControlName="phone" id="phone" name="phone" />
    <br/>

    <label>Address</label>
    <textarea class="form-control" formControlName="address" id="address" name="address"></textarea>

    <button class="btn btn-success" [disabled]="!nonLoginUserForm.valid" (click)="proceedNonLoginUserSubmit()">Proceed</button>
</form>