#cart-body{
    position: absolute;
    top: 100px;
    right: 100px;
    background: white;
    border: 1px solid black;
}

.input-cart-count {
    width: 30px;
    text-align: center;
}

.checkout{
    width: 100%;
}